---
title: Sources
layout: default
---
<div class="py-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12">
        <h2 class="text-secondary text-center text-danger">About This Website:</h2>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-8 mx-auto">
        <p class="">This website was created for the Webmaster event for Pennsylvania TSA by team 2045-901 from State College Area High School 9/10.</p>
    
        <p class="">This website was created using the Bootstrap framework and this website is hosted using Github Pages. All information is cited in MLA in the citations section of this page. No premade template was used, the color scheme and layout of this site was designed manually by team 2045-901.</p>
        
        <p class="">All pictures licensed under CC0 (no attribution required) from <a href="https://pexels.com">Pexels</a>. TSA emblem used in accordance with "AUTHORIZATION FOR USE OF NAME AND EMBLEM" under <a href="http://www.tsaweb.org/Trademark-Policies">TSA Trademark Policies</a>.</p>
      </div>
    </div>
  </div>
</div>
