---
title: SCAHS 9/10 TSA (2045)
layout: default
---
<img src="https://www.scasd.org/cms/lib/PA01000006/Centricity/ModuleInstance/42795/large/SHnew.jpg" class="rounded mx-auto d-block w-50 mt-3" alt="Image of State College Area High School">
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center display-4 text-danger">State College Area High School TSA</h1>
      <h2 class="text-center text-danger">Grades 9 and 10</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4 ml-auto">
        <a href="chapter" class="lead mx-auto d-block text-center text-danger" align="center">Our TSA Chapter</a>
        <p class="text-center">Learn more about TSA (Technology Student Association) at State High for grades 9 to 10.</p>
        <img class="img-fluid mx-auto d-block" src={{ "/assets/images/logo.png" | relative_url }}>
    </div>
    <div class="col-md-4 mr-auto">
        <a href="stem" class="lead mx-auto d-block text-center text-danger" align="center">STEM and CTE Programs</a>
        <p class="text-center">Learn more about the extensive career and technology/engineering programs available at State High.</p>
        <img class="img-fluid mx-auto d-block" src={{ "/assets/images/school.jpg" | relative_url }}>
    </div>
  </div>
</div>
