---
title: STEM Activities
layout: default
---
<div class="container py-5">
<div class="row">
        <div class="col-md-12 ">
          <p class="lead text-danger">State High offers a wide variety of STEM activites besides TSA:
            <br>
          </p>
          <ul class="">
            <li>Science Olympiad: Small teams of 2-3 people each compete in 23 different events.</li>
            <li> Math Club: Students can compete in various math related events.</li>
            <li> HOSA (Health Occupations Students Of America): The State High Health Professions Team
              <br>
            </li>
            <li> Science Bowl: Teams compete to answer science related trivia questions.
              <br>
            </li>
            <li> Ocean Bowl: Teams compete to answer ocean related trivia questions.</li>
          </ul>
        </div>
      </div>
</div>