---
title: CTE and STEM Programs
layout: default
---
<div class="container py-5">
<div class="row">
        <div class="col-md-12 text-secondary">
          <p class="lead text-danger">Career and Technical Education (CTE) at State College Area High School </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="">Career and Technical Education is offered at State High as part of its outstanding Career and Technical Center (CTC) where students can explore topics of interest and prepare them for their future. Specific subjects offered in our CTC program
            are:</p>
          <ul class="">
            <li class=""><b>Accounting and Finance:&nbsp;</b>In this program students learn the skills required to manage money which prepares them for a career in business.
              <br>
              <br>
            </li>
            <li><b> Agricultural Science:&nbsp;</b>In this program students focus on new and upcoming agricultural technology in order to prepare them to help with critical agriculture issues society is facing.&nbsp;
              <br>
              <br>
            </li>
            <li><b> Architectural Drafting and Design:&nbsp;</b>In this program students learn the essentials required in order to design structures such as our new high school building, bridges, and houses.
              <br>
              <br>
            </li>
            <li><b> Automotive Technology:&nbsp;</b>In this program students learn the mechanics of cars so that they can join the automotive industry in the future.
              <br>
              <br>
            </li>
            <li><b> Building Construction:&nbsp;</b>In this program students learn what it takes to be a builder which gives them a step up when it comes to the real world of construction.
              <br>
              <br>
            </li>
            <li><b> Cisco Networking Academy:&nbsp;</b>In this program students learn all about computers in order to prepare them for whatever computer related issues may come there way in the future.
              <br>
              <br>
            </li>
            <li><b> Engineering:&nbsp;</b>In this program students can focus on different engineering majors such as robotics or electrical in order that they may be able to focus in those areas in the future.
              <br>
              <br>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-secondary">
          <p class="lead text-danger">Stem Education at State College Area High School </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="">Most Common Progression Through Science:</p>
          <ul class="">
            <li>9th Grade - Earth Systems</li>
            <li>10th Grade - Biology</li>
            <li>11th Grade - Chemistry</li>
            <li contenteditable="true">12th Grade - Physics</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="">Most Common Progression Through Math:</p>
          <ul class="">
            <li>9th Grade - Algebra 1 or Geometry</li>
            <li>10th Grade - Geometry or Algebra 2</li>
            <li>11th Grade - Algebra 2 or Precalculus</li>
            <li>12th Grade - Precalculus or Calculus</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead text-danger">Partial List of Courses:</p>
          <p class="">Science:</p>
          <ul>
            <li>Advanced Biology</li>
            <li> Advanced Biology Electives</li>
            <li> Advanced Chemistry 1</li>
            <li> Advanced Chemistry 2</li>
            <li> Advanced Earth Systems Science</li>
            <li> Advanced Earth Systems Science Electives</li>
            <li> Advanced Engineering Technology</li>
            <li> Advanced Genetics</li>
            <li> Advanced Molecular and Cellular Biology</li>
            <li> Advanced Oceanography</li>
            <li> Advanced Physics</li>
            <li> Anatomy and Physiology</li>
            <li> AP Physics 1 +</li>
            <li> AP Physics C</li>
            <li> Chemistry 1</li>
            <li> Environmental Science 1</li>
            <li> Environmental Science</li>
            <li> Integrated Chemistry and Physics</li>
            <li> Physics 1</li>
            <li> Research Science and Engineering</li>
            <li> Strategies for Biology</li>
          </ul>
          <p class="">Mathematics:</p>
          <ul>
            <li>Advanced Algebra 2</li>
            <li> Advanced Geometry</li>
            <li> Advanced Honors Precalculus</li>
            <li> Advanced Precalculus</li>
            <li> Advanced Topics Math</li>
            <li> Algebra 1</li>
            <li> Algebra 2</li>
            <li> AP Calculus AB</li>
            <li> AP Calculus BC</li>
            <li> AP Computer Science</li>
            <li> AP Statistics</li>
            <li> College Preparatory Algebra 1</li>
            <li> College Preparatory Algebra 2</li>
            <li> College Preparatory Geometry</li>
            <li> Functions and Trigonometry</li>
            <li> Intro to Calculus</li>
            <li> Precalculus</li>
            <li> Seminar Math</li>
            <li> Strategies for Algebra 1</li>
          </ul>
          <p class="">Technology Education</p>
          <ul>
            <li>Advanced Computer Engineering Graphics</li>
            <li> Computer Engineering Graphics 2</li>
            <li> Computer Graphics 1</li>
            <li> Video Media Technology</li>
            <li> Woodworking</li>
          </ul>
        </div>
      </div>
      
</div>