---
title: STEM Program
layout: default
---
<img src={{ "/assets/images/gears.jpg" | relative_url }} class="rounded mx-auto d-block w-30 mt-3" alt="Image of State College Area High School">
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center display-4 text-secondary">STEM Program At State College Area High School</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4">
      <a href="classes" class="lead mx-auto d-block text-center" align="center">STEM Courses</a>
      <p class="text-center">Learn more about the STEM related courses offered at State College Area High School.</p>
      <img class="img-fluid d-block" src={{ "/assets/images/books.jpg" | relative_url }}>
    </div>
    <div class="col-md-4">
      <a href="teachers" class="lead mx-auto d-block text-center" align="center">STEM Teachers</a>
      <p class="text-center">Learn more about the STEM course teachers at State College Area High School.</p>
      <img class="img-fluid d-block" src={{ "/assets/images/pencil.jpg" | relative_url }}>
    </div>
    <div class="col-md-4">
      <a href="activities" class="lead mx-auto d-block text-center" align="center">Other Activities</a>
      <p class="text-center">Learn more about the other STEM activities offered at State College Area High School.</p>
      <img class="img-fluid d-block" src={{ "/assets/images/science.jpg" | relative_url }}>
    </div>
  </div>
</div>
