---
title: CTE and STEM Teachers
layout: default
---
<div class="container py-5">
<div class="row">
        <div class="col-md-12">
          <p class="lead text-danger">Partial List of STEM Course Teachers:</p>
          <ul class="">
            <li>Mr. Byrns: Teaches programming and networking courses.</li>
            <li>Mr. Pechtold: Teaches courses on networking and ethical hacking.</li>
            <li>Mr. Donaldson: Teaches computer graphics and materials processing.</li>
            <li>Mr. Alesi: Teaches computer graphics and programming courses.</li>
            <li>Mr. Avvampato: Teaches computer graphics and video media courses.</li>
            <li>Mr. Ripka: Teaches multiple engineering courses.
              <br>
            </li>
            <li>Mr. Warren: Teaches the building and construction courses.</li>
            <li>Mr. Crawford: Teaches courses on architecture and design.</li>
            <li>Mr.&nbsp;Bierly: Teaches courses on automotive technology.</li>
          </ul>
        </div>
      </div>
</div>