<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href={{ "/assets/css/style.css" | relative_url }} rel="stylesheet" type="text/css">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
    <div id="content">

  <nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <div class="container">
      <a class="navbar-brand" href={{ "/" | relative_url }}><b>{{ site.title }}</b><br></a> <a class="navbar-brand" href="#"></a> <button aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbar2SupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href={{ "/chapter" | relative_url }}>Our Chapter<br></a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link text-white" href={{ "/stem" | relative_url}} role="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">STEM Program</a>
            <div class="dropdown-menu" aria-labelledby="dropdown3">
              <a class="dropdown-item" href={{ "/stem/classes" | relative_url }}>STEM Courses</a>
              <a class="dropdown-item" href={{ "/stem/teachers" | relative_url }}>STEM Teachers</a>
              <a class="dropdown-item" href={{ "/stem/activities" | relative_url }}>STEM Activities</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href={{ "https://tsa-2045-901-webmaster-band.netlify.com" | relative_url }}>2019 Brief Response<br></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href={{ "/about" | relative_url }}>About<br></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    {{ content }}
  </div>
  <style type="text/css">
    @media only screen and (min-width:769px) {
      .dropdown:hover .dropdown-menu {
        display: block;
      }
      .dropdown-submenu {
        position: relative !important;
      }
      .dropdown-submenu>.dropdown-menu {
        top: 0 !important;
        left: 100% !important;
        margin-top: -6px !important;
        margin-left: -1px !important;
        border-radius: 0 !important;
      }
      .dropdown-submenu:hover>.dropdown-menu {
        display: block !important;
      }
      .dropdown-submenu>a:after {
        display: block;
        content: "\f105";
        font-family: 'FontAwesome';
        margin-top: -18px;
        right: 15px;
        position: absolute;
        font-weight: 300;
      }
    }
  </style>
  <script type="text/javascript">
    jQuery(function($) {
      if ($(window).width() > 769) {
        // $('.navbar .dropdown').hover(function() {
        //   $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    
        // }, function() {
        //   $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
    
        // });
    
        $('.navbar .dropdown > a').click(function() {
          location.href = this.href;
        });
    
      }
    });
  </script>
</body>
</html>